.releases {
  display: flex;
  // background: #181818;
  // background: linear-gradient(90deg, rgba(36,0,0,1) 0%, #181818, 35%, #181818, 100%);    
  position: relative;
  // margin: auto;
    left: 0rem;
    top: 0rem;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 3rem;
    // border-radius: 38px;
    // border: solid;
    border-width: 0px;
    // border-color: rgb(255, 42, 42);
    // border-color: rgb(246, 169, 61);
 

    .title-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      padding: 4rem;
      grid-template-columns: 1fr 1fr;
      border-radius: 32px;
      // border: solid;
      // border-width: 2px;
      // border-color: rgb(246, 169, 61);
      .title-t {
        color: red;
        font-size: 4rem;
        font-weight: bold;
        margin: auto;
        text-align: center;
      }
      .description-t {
        text-transform: uppercase;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        margin: auto;
        padding: 1rem;
        text-align: center;
        a {
          color: var(--accent-color3);
          font-weight: bold;
        }
      }
    }
 
  
  .release {
    display: grid;
    padding: 4rem;
    grid-template-columns: 1fr 1fr;
    border-radius: 32px;
    border: solid;
    border-width: 2px;
    border-color: rgb(246, 169, 61);
    
    
    .content {
      // padding: 10rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .title {
        font-size: 2rem;
        color: rgb(246, 169, 61);
       
      }


      
   
      .description {
        font-size: 1.3rem;
        color: rgb(255, 255, 255);
        line-height: 3rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .3rem;
        a {
          color: rgb(255, 255, 255);
          font-weight: bold;
        }


      }

      .description2 {
        font-size: 1.3rem;
        color: red;
        padding: 1rem;
        a {
          color: rgb(255, 255, 255);
          font-weight: bold;
        }


      }



      .after {
       
       
      }
      
      .link {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
        display: flex;
        gap: 1rem;
        svg {
          font-size: 1.2rem;
        }
      }
    }
    .image {
      
      position: relative;
      overflow: hidden;
      text-align: center;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: auto;
      img {
      
        height: 24rem;
      }
      .ellipse {
        z-index: -1;
        position: absolute;
        bottom: -40%;
        right: 0;
        height: 20rem;
        width: 20rem;
        filter: blur(100px);
      }
      .pink {
        // background-color: #ec8a3a;
      }
    }
    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      overflow: hidden;
     
   
      .card-image {
        img {
          height: 14rem;
        }
      }
      .ellipse {
        z-index: -1;
        position: absolute;
        bottom: -45%;
        left: 0;
        height: 20rem;
        width: 20rem;
        filter: blur(100px);
      }
      .orange {
        // background-color: var(--orange);
      }
    }
  }
  .orange {
    background: rgb(36,0,0);
    background: linear-gradient(90deg, #111 0%, #111 38%, red);   
  }
  .green {
      background: rgb(36,0,0);
    background: linear-gradient(90deg, #111 0%, #111 38%, red); 
   }
}




@media screen and (max-width: 430px) {
  .releases {
    
    display: flex;
  
    position: relative;
 
      left: 0rem;
      top: 0rem;
      flex-direction: column;
      gap: 4rem;
      padding-bottom: 3rem;

      border-width: 0px;
    



      .title-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 4rem;
        grid-template-columns: 1fr 1fr;
        border-radius: 32px;
        // border: solid;
        // border-width: 2px;
        // border-color: rgb(246, 169, 61);
        .title-t {
          color: var(--accent-color1);
          font-size: 3rem;
          font-weight: bold;
          
          text-align: center;
          position: relative;
          top: -4rem;

        }
        .description-t {
          color: red;
          font-size: 1.3rem;
          font-weight: bold;
         
                  text-align: center;
          a {
            color: var(--accent-color3);
            font-weight: bold;
          }
        }
      }



   
    
    .release {
      display: grid;
      padding: 4rem;
      grid-template-columns: 1fr 1fr;
      border-radius: 32px;
      border: solid;
      border-width: 2px;
      border-color: rgb(246, 169, 61);
      
      
      
      .content {
   
        display: flex;
        flex-direction: column;
        gap: 2rem;
     
        .title {
          font-size: 2rem;
          color: rgb(246, 169, 61);
         
        }
  
        
     
        .description {
          font-size: 1rem;
          color: rgb(255, 255, 255);
          line-height: 3rem;
          a {
            color: rgb(255, 255, 255);
            font-weight: bold;
          }
  
  
        }
  
        .description2 {
          font-size: 1.3rem;
          color: red;
          padding: 1rem;
          a {
            color: rgb(255, 255, 255);
            font-weight: bold;
          }
  
  
        }
  
  
  
        .after {
         
         
        }
        
        .link {
          color: rgb(255, 255, 255);
          font-weight: bold;
          text-decoration: none;
          display: flex;
          gap: 1rem;
          svg {
            font-size: 1.2rem;
          }
        }
      }
      .image {
        position: relative;
        overflow: hidden;
        text-align: center;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: auto;
        img {
          height: 24rem;
        }
        .ellipse {
          z-index: -1;
          position: absolute;
          bottom: -40%;
          right: 0;
          height: 20rem;
          width: 20rem;
          filter: blur(100px);
        }
        .pink {
          // background-color: #ec8a3a;
        }
      }
      .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        overflow: hidden;
       
     
        .card-image {
          img {
            height: 14rem;
          }
        }
        .ellipse {
          z-index: -1;
          position: absolute;
          bottom: -45%;
          left: 0;
          height: 20rem;
          width: 20rem;
          filter: blur(100px);
        }
        .orange {
          // background-color: var(--orange);
        }
      }
    }
    .orange {
      background: red;
      background: linear-gradient(0deg, #111 0%, #111 38%, red);   
    }
    .green {
     background: red;
      background: linear-gradient(0deg, #111 0%, #111 38%, red);   
    }
  }

}



@media screen and (max-width: 1440px) {
  .releases {
    display: flex;
    // background: #181818;
    // background: linear-gradient(90deg, rgba(36,0,0,1) 0%, #181818, 35%, #181818, 100%);    
    position: relative;
    // margin: auto;
      left: 0rem;
      top: 2rem;
      flex-direction: column;
      gap: 4rem;
      padding-bottom: 3rem;
      // border-radius: 38px;
      // border: solid;
      border-width: 0px;
      // border-color: rgb(255, 42, 42);
      // border-color: rgb(246, 169, 61);
   
    
    .release {
      display: grid;
      padding: 3rem;
      grid-template-columns: 1fr 1fr;
      border-radius: 32px;
      border: solid;
      border-width: 2px;
      border-color: rgb(246, 169, 61);
      
      
      .content {
       width: 125%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .title {
          font-size: 2rem;
          color: rgb(246, 169, 61);
         
        }
  
        
     
        .description {
          font-size: 1rem;
          color: rgb(255, 255, 255);
          line-height: 3rem;
          a {
            color: rgb(255, 255, 255);
            font-weight: bold;
          }
  
  
        }
  
        .description2 {
          font-size: 1.3rem;
          color: red;
          padding: 1rem;
          a {
            color: rgb(255, 255, 255);
            font-weight: bold;
          }
  
  
        }
  
  
  
        .after {
         
         
        }
        
        .link {
          color: rgb(255, 255, 255);
          font-weight: bold;
          text-decoration: none;
          display: flex;
          gap: 1rem;
          svg {
            font-size: 1.2rem;
          }
        }
      }
      .image {
        position: relative;
        overflow: hidden;
        text-align: center;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: auto;
        img {
          height: 24rem;
        }
        .ellipse {
          z-index: -1;
          position: absolute;
          bottom: -40%;
          right: 0;
          height: 20rem;
          width: 20rem;
          filter: blur(100px);
        }
        .pink {
          // background-color: #ec8a3a;
        }
      }
      .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        overflow: hidden;
       
     
        .card-image {
          img {
            height: 14rem;
          }
        }
        .ellipse {
          z-index: -1;
          position: absolute;
          bottom: -45%;
          left: 0;
          height: 20rem;
          width: 20rem;
          filter: blur(100px);
        }
        .orange {
          // background-color: var(--orange);
        }
      }
    }
    .orange {
      background: red;
      background: linear-gradient(90deg, #111 0%, #111 38%, red);   
    }
    .green {
     background: red;
      background: linear-gradient(-90deg, red 0%, #111  65%, #111  100%);   
    }
  }

}