.signup {
  // border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  padding-top: 15rem;
  padding-bottom: 15rem;
  overflow-y: hidden;
  

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    .content {
      margin-top: 3rem;
      margin-left: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      width: 80%;
      .sub-title {
        color: rgb(230, 40, 40);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
      .title {
        color: var(--accent-color1);
      }
      .description {
        color: var(--accent-color3);
      }

      // .notice {
      //   padding: 1rem;
      //   color: var(--accent-color3);
      //   font-size: 1rem;
      // }

      button {
        color: var(--accent-color1);
        background-color: var(--background);
        font-weight: bold;
      
        padding: 1rem 3rem;
        border-radius: 2rem;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, rgb(230, 40, 40), rgb(230, 40, 40));
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px var(--background) inset;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
          box-shadow: none;
        }
      }
    }
    .image-container {
      text-align: center;
      position: relative;
      z-index: 10;
      .image {
        img {
          position: relative;
          top: 0rem;
          transform: scale(1);
        }
      }
      .ellipse-container {
        .ellipse {
          z-index: -1;
          position: absolute;
          height: 15rem;
          width: 15rem;
          filter: blur(100px);
        }
        .pink {
          top: 40%;
          right: 40%;
          background-color: rgba(121,9,9,1);
        }
        .orange {
          bottom: 40%;
          left: 40%;
          background-color: rgb(230, 40, 40);
        }
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .signup {
    // border-top: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
    padding-top: 5rem;
   
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 18px;
   
      .content {
        margin-top: 0rem;
        margin-left: 3rem;
        width: 150%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        .sub-title {
          color: rgb(230, 40, 40);
          text-transform: uppercase;
          letter-spacing: 0.1rem;
        }
        .title {
          color: var(--accent-color1);
        }
        .description {
          color: var(--accent-color3);
        }
  
        // .notice {
        //   padding: 1rem;
        //   color: var(--accent-color3);
        //   font-size: 1rem;
        // }
  
        button {
          color: var(--accent-color1);
          background-color: var(--background);
          font-weight: bold;
          padding: 1rem 3rem;
       
          border-radius: 2rem;
          box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
          border: solid 3px transparent;
          background-image: linear-gradient(
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0)
            ),
            linear-gradient(101deg, rgb(230, 40, 40), rgb(230, 40, 40));
          background-origin: border-box;
          background-clip: content-box, border-box;
          box-shadow: 2px 1000px 1px var(--background) inset;
          transition: 0.5s ease-in-out;
          cursor: pointer;
          &:hover {
            box-shadow: none;
          }
        }
      }
      .image-container {
        text-align: center;
        position: relative;
        z-index: 10;
        .image {
          img {
            position: relative;
            top: -8rem;
            left: 20rem;
            transform: scale(5);
          }
        }
        .ellipse-container {
          .ellipse {
            z-index: -100;
            position: absolute;
            top: 50rem;
            left: -20rem;
            filter: blur(100px);
          }
          .pink {
            top: 99%;
            right: 40%;
            background-color: rgba(121,9,9,1);
          }
          .orange {
            bottom: 40%;
            left: 40%;
            background-color: rgb(230, 40, 40);
          }
        }
      }
    }
  }

}
