


.super-rare {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;


  
  .title-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    text-align: center;
    padding: 4rem;
    .title {
      color: var(--accent-color1);
      font-size: 4rem;
    }
    .description {
      color: rgb(219, 27, 27);
      font-size: 2rem;
      a {
        color: var(--accent-color3);
        font-weight: bold;
        
      }
    }
  }
  .cards {
    padding-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
 
    

  }

  .cards > image {
   
      transform: scale(.02);
    
      
    
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .super-rare {
    // height: 500px;
    // padding-top: 0rem;
    // display: flex;
    // flex-direction: column;
  
    
    .title-container {
        // height: 500px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: auto;
      text-align: center;
      padding: 4rem;
      .title {
        color: var(--accent-color1);
        font-size: 2rem;

      }
      .description {
        color: rgb(219, 27, 27);
        font-size: 1rem;
        a {
          color: var(--accent-color3);
          font-weight: bold;
          
        }
      }
    }
    .cards {

      height: 200px;
      display: flex;
      justify-content: space-evenly;
   
   
   
      
  
    }
  
    .cards > image {
     
  
      
      
        
      
    }
  }

}