.img-gallery {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 4rem;
}

.img-gallery {
  width: 100%;
  // cursor: pointer;
  img {
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: white;
  };
}

.img-gallery img:hover {
  transform: scale(0.98) rotate(-1deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(251, 17, 17, 0.2);

}